<div id="<%= dom_id dream_log %>" class="flex flex-col">
  <div class="card-header">
    <%= dream_log.created_at.to_date %>
  </div>

  <div class="card-text">
    <% if dream_log.dream == false %>
      No Dream...
    <% else %>
      <% if dream_log.remember == false %>
        Had a dream, but couldn't remember it...
      <% else %>
        <%= dream_log.body %>
      <%  end %>
    <% end %>
  </div>

  <div class="card-text text-sm mt-4">
    sleep time: <%= dream_log.sleep_time %> hours
  </div>

</div>

<hr class="my-4 divider">
