<div id="<%= dom_id dream_log %>" class="flex flex-col card">
  <div class="my-4">
    <strong class="inline-block font-medium mb-1">Date:</strong>
    <%= dream_log.created_at.to_date %>
  </div>

  <div class="text-sm">
    <% if dream_log.dream == false %>
      No Dream...
    <% else %>
      <% if dream_log.remember == false %>
        Had a dream, but couldn't remember it...
      <% else %>
        <%= dream_log.body %>
      <%  end %>
    <% end %>
  </div>

</div>

<hr class="mt-4">
