<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing dream log</h1>

  <%= render "form", journal: @dream_log.journal, dream_log: @dream_log %>

  <%= link_to "Show this dream log", journal_dream_log_path(@dream_log.journal_id), class: "btn-gray" %>
  <%= link_to "Back to journal", @dream_log.journal, class: "btn-gray" %>
</div>
