<div id="journals" class="flex flex-col items-center space-y-4">
  <% if @journals.length > 0  %>
    <% @journals.each do |journal| %>
      <%= render 'journals/journal_card', journal: journal %>
    <% end %>
  <% else %>
    <p class="text-green-500">No journals were found</p>
  <% end %>
</div>