<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing journal</h1>

  <%= render "form", journal: @journal %>

  <%= link_to "Show journal", @journal, class: "btn-gray" %>
  <%= link_to "Back to all journals", journals_path, class: "btn-gray" %>
</div>
