<div>
  <h1 class="font-bold text-4xl">Contact Information</h1>
  <p>xryanwolfe@gmail.com</p>
  <%= link_to material_icon.linkedin, 'https://www.linkedin.com/in/ryan-wolfe-64652a115/', :target => '_blank' %>
  <%= link_to material_icon.face, 'https://github.com/RyanJWolfe', :target => '_blank' %>
</div>
