@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        @apply bg-gray-900 text-gray-700 dark:text-gray-300
    }
    .divider {
        @apply w-full border-t border-gray-700
    }
    .btn-purple-blue {
        @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    }
    .card {
        @apply block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
    }
    .card-static {
        @apply block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700
    }
    .card-header {
        @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white
    }
    .card-text {
        @apply font-normal text-gray-700 dark:text-gray-400
    }
    .input-label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300
    }
    .text-field {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
    .text-field-small {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
    .notice {
        @apply py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block;
    }
    .alert {
        @apply py-2 px-3 bg-yellow-50 mb-5 text-gray-500 font-medium rounded-lg inline-block;
    }
    .error {
        @apply bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3
    }
    .btn-gray-og {
        @apply ml-2 rounded-lg py-3 px-5 bg-gray-700 inline-block font-medium border border-gray-600
    }
    .btn-gray {
        @apply py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700
    }
    .btn-blue {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }
    .btn-red {
        @apply rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer
    }
    .navbar-header {
        @apply py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700
    }
    .navbar-btn {
        @apply flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 hover:ring-4 hover:ring-gray-300 dark:hover:ring-gray-600
    }
    .navbar-title {
        @apply self-center text-lg font-semibold whitespace-nowrap dark:text-white
    }
    .navbar-dropdown {
        @apply z-50 my-1 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600
    }
    .navbar-dropdown-list-item {
        @apply block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white
    }
    .navbar-main-header {
        @apply block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white
    }
    .toggle-switch {
        @apply w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600
    }
    .toggle-switch-label {
        @apply ml-3 text-sm font-medium text-gray-900 dark:text-gray-300
    }
    .toggle-bg:after {
        content: '';
        @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
    }

    input:checked + .toggle-bg:after {
        transform: translateX(100%);
        @apply border-white;
    }

    input:checked + .toggle-bg {
        @apply bg-blue-600 border-blue-600;
    }
}
