<div class="flex items-center md:order-2 md:space-x-2">
  <div class="relative">
    <button data-action="click->user-menu#toggle" type="button" class="navbar-btn" id="user-menu-button" aria-haspopup="true" aria-expanded="false" type="button">
      <span class="sr-only">Open user menu</span>
      <%= material_icon.account_circle.css_class('md-light md-36') %>
    </button>
    <%= render 'layouts/user_menu_dropdown' %>
  </div>
  <%= render 'layouts/mobile_menu_button' %>
</div>